<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="ChatGPTclone.wsgi.application" />
        <add key="PYTHONPATH" value="C:\Users\Lenovo\Desktop\ChatGptClone" />
        <add key="DJANGO_SETTINGS_MODULE" value="ChatGPTclone.settings" />
        <add key="WSGI_LOG" value="C:\Users\Lenovo\Desktop\ChatGptClone\wfastcgi.log" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="ChatGPTcloneHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" scriptProcessor="C:\Users\Lenovo\Desktop\ChatGptClone\venv\Scripts\python.exe|C:\Users\Lenovo\Desktop\ChatGptClone\venv\Lib\site-packages\wfastcgi.py" />
        </handlers>
        <httpPlatform processPath="C:\Users\Lenovo\Desktop\ChatGptClone\venv\Scripts\python.exe" arguments="C:\Users\Lenovo\Desktop\ChatGptClone\venv\Lib\site-packages\wfastcgi.py" startupTimeLimit="60" stdoutLogEnabled="true" stdoutLogFile="C:\Users\Lenovo\Desktop\ChatGptClone\httpplatform.log">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="C:\Users\Lenovo\Desktop\ChatGptClone" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
